* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  overflow-x: hidden;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  background-color: #ded7d0;
  min-height: 100vh;
  border: #3c1053 solid 1px;
  box-shadow: 1px 1px 25px -10px;
  text-align: center;
  position: relative;
}
header {
  padding: 20px;
  display: flex;
}
button {
  border: none;
  background: none;
}
.fa-solid {
  font-size: 25px;
}
.fa-magnifying-glass {
  padding-left: 10px;
  border: none;
  outline: none;
  background: none;
  font-size: 25px;
  color: black;
  margin-top: 5px;
}
#text {
  width: 200px;
  outline: none;
  margin-left: 40px;
  border-radius: 10px;
  height: 28px;
  margin-top: 5px;
  text-align: center;
}
.heading {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  margin: 10px;
  font-size: 30px;
}

ul img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 5px;
}
img {
  max-height: 250px;
  width: 350px;
}
.favourite {
  background-color: #e3dee5;
}
.foods {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 10px;
}
#result {
  margin: 20px;
}
.heading {
  margin-top: 50px;
  margin-bottom: 20px;
}
.meal-header {
  padding: 10px;
  margin: 10px;
  position: relative;
}
.meal-header span {
  background-color: white;
  width: 150px;
  padding: 7px;
  position: absolute;
  left: 10px;
  top: 40px;
}
.name {
  margin-left: 30px;
  display: flex;
  gap: 100px;
}
.name button {
  border: none;
  font-size: 20px;
}
.name p {
  font-size: 17px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.name .btn .fa-solid {
  color: rgb(28, 18, 18);
}
.name .btn.active .fa-solid {
  color: rgb(125, 16, 16);
}
.food {
  position: relative;
  margin-bottom: 25px;
}
.food a {
  text-decoration: none;
  padding: 5px;
  background-color: #802c10ea;
  color: white;
}
.result-container {
  display: none;
}
.result {
  flex-direction: column;
  max-width: 350px;
  min-height: 600px;
  background-color: rgb(53, 39, 25);
  color: white;
  border-radius: 3px;
  margin: 15px;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  bottom: 50%;
  left: 48%;
  opacity: 0.9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serifs;
  font-size: 14px;
  transform: translate(-50%, -50%);
  z-index: 10;

  overflow-y: auto;
}

.result img {
  max-width: 100px;
  margin: 10px;
  border-radius: 50%;
}
.result button .fa-solid {
  margin-top: 10px;
  font-size: 20px;
  color: cornsilk;
  border: none;
}
.name-meal {
  margin-bottom: 10px;
}
.favorite {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 400px;
  max-height: 400px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
li {
  margin: 10px;
  list-style: none;
  display: inline;
  gap: 70px;

  border: cornsilk 2px solid;
  background-color: rgb(127, 20, 20);
  padding: 10px;
  font-size: 15px;
}
li a {
  color: cornsilk;
  text-decoration: none;
}
#recipe {
  font-size: 20px;
  font-weight: bold;
  margin: 0.5rem auto;
  width: 175px;
  color: white;
  background-color: #802c10ea;
  border: 2px white solid;

  cursor: pointer;
  margin-bottom: 50px;
}
#title {
  font-size: 20px;
  font-weight: bold;
  margin: 0rem auto;
  max-width: 300px;
  color: #802c10ea;
}
.recipe-link a {
  text-decoration: none;
  color: white;
  padding: 5px;
  background-color: rgb(156, 21, 21);
}

#roll .fa-spinner {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  font-size: 30px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#result-title {
  display: none;
  margin-bottom: 10px;
}
